:root {
--primary-font:'Roboto', sans-serif;
--secondary-font: 'Raleway', sans-serif;
--accent-color: #404BBF;
--button-color: #4D5AE5;
--primary-text-color: #2E2F42;
--secondary-text-color: #434455;
}




.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

/*==========INDEX.HTML=========*/

/*=====ORDER BUTTON=====*/
.order-btn {
    
    font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1,5;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        background: var(--button-color);
        color: #FFFFFF;
}


.order-btn:hover,
.order-btn:focus {
    background: var(--accent-color);
        color: #FFFFFF;
        cursor: pointer;   
}

.hero-heading {
    font-family: var(--primary-font);
        font-weight: 700;
        font-size: 56px;
        line-height: 1,07;
        text-align: center;
        letter-spacing: 0.02em;
}

.secondary-heading {
        font-family: var(--primary-font);
        font-weight: 700;
        font-size: 36px;
        line-height: 1,11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--primary-text-color);
}
.features-list {
    font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1,2;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
}

.features-description {
    font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1,5;
        letter-spacing: 0.02em;
        color: var(--secondary-text-color);

}


/*=====BODY=====*/
.body { 
    font-family: var(--primary-font);
    font-weight: 400;
    letter-spacing: 0,02em;
    background-color: #FFFFFF;
    color: var(--primary-text-color)
}
/*=====HEADER=====*/

.logo-link {
    
    font-family: var(--secondary-font);
        font-weight: 800;
        font-size: 18px;
        line-height: 1,33;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primary-text-color);
}

.logo-web {

    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1,33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--button-color);
}

.menu-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1,5;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}


.email-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.tel-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);

}
.tel-link:hover,
.tel-link:focus {
    color: var(--accent-color);
}

/*=====HEADER=====*/
/*=====BODY=====*/
/*=====COMPONENTS*=====/
/*=====MENU BUTTONS SECTION=====*/

.menu-btn {
        font-weight: 500;
        font-size: 16px;
        line-height: 1,5;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        cursor: pointer;
       color: var(--button-color);
    background: #F4F4FD;
}
.menu-btn:hover,
.menu-btn:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
}

/*=====PORTFOLIO ITEMS=====*/
.portfolio-item {
        font-weight: 500;
        font-size: 20px;
        line-height: 1,2;
        letter-spacing: 0.02em;
        color: var(primary-text-color);
}

.portfolio-item-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 1,5;
        letter-spacing: 0.02em;
        color: var(--secondary-text-color);
}

/*=====MENU BUTTONS SECTION=====*/

/*=====FOOTER=====*/


.footer-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1,5;
        letter-spacing: 0.02em;
        color: #E7E9FC;
}
/*=====FOOTER=====*/